<!DOCTYPE html>
<html>
  <head>
    <title>アラーム設定</title>
  </head>
  <body>
    <h1>アラームを設定</h1>
    <form action="/" method="post">
      <label for="alarm_time">アラーム時間:</label>
      <input type="datetime-local" id="alarm_time" name="alarm_time" required />
      <br />
      <label for="dir_path">削除対象ディレクトリ:</label>
      <input
        type="text"
        id="dir_path"
        name="dir_path"
        placeholder="削除するディレクトリ"
        required
      />
      <br />
      <input type="submit" value="設定" />
    </form>

    <h2>起きた確認</h2>
    <form action="/wake_up" method="post">
      <button type="submit">起きた確認</button>
    </form>

    <h2>データベースの作成</h2>
    <form action="/create_db" method="post">
      <button type="submit">データベースの作成</button>
    </form>
  </body>
</html>
